
div {
    display: inline-block;
    float: left;
    margin-left: 30px;
    padding-left: 30px;
}

h1{
    margin-right: 750px ;
    padding: 10px;
}

ul {
    list-style: none;
}

table {
    font-size: xx-large;
    margin: 30px;
    padding: 30px;
    border: groove rgb(185, 141, 90);
    box-shadow: inset;
}
thead {
    border: solid;
    border: groove rgb(185, 141, 90);
}



td {
    border: solid;
    border: groove rgb(185, 141, 90);
}

.screen {
    display: inline-block;
}

.screen div {
    display: inline-block;
    padding-bottom: 130px;
    margin: 10px;
}

.screen aside {
    display: inline-block;
}



.header {
    width: 100%;
    background-color: rgb(214, 163, 105);
}

.header div{

    background-color: white;
    margin-top: 20px;
    margin-right: 120px;
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    border: solid black;
    float: right;
}

.header p{

}

aside {
    float: right;
    margin: 20px;
    padding: 15px;
    background-color: rgb(214, 163, 105);
}

aside img {
    width: 150px;
    height: 150px;
    border: solid black;
    border-radius: 50%;
    margin: 40px;
}

aside img:hover {
    width: 250px;
    height: 250px;
}

aside ul {
    float: right;
    list-style: none;
}

aside li {

}

hr {
    color: greenyellow;
}

.mainImage div{
    display: inline-block;
    margin: 150px;
    padding: 15px;
}

.mainImage img{
    border-radius: 30px;
    border: solid rgb(185, 141, 90);
    width: 1800px;
    height: 600px;
}

.deleCandy p {
    margin-right: 50%;
}

.deleCandy img {
    border-radius: 50%;
    height: 500px;
    width: 500px;
    border: solid rgb(185, 141, 90);
}

.deleCandy img:hover {
    height: 600px;
    width: 600px;
    border: solid rgb(185, 141, 90);
}

.special{
    margin-right: 500px;
}
.special video{
    width: 500px;
    height: 500px;
}

button {
    background-color: rgb(237, 235, 120);
    border-radius: 10px;
    width: 150px ;
    height: 50px;
    box-shadow: 10, 10;
    margin: 10px;
    padding: 10px;
}

button:hover{
    background-color: rgb(195, 48, 48);
    text-align: center;
    width: 160px ;
    height: 50px;
    box-shadow: 10, 10;
}

.contact{
    display: inline-block;
}

.footer {
    background-color: rgb(214, 163, 105);
}